doctype html
html(lang="en")
  head
    title #{title}
    link(
      rel="stylesheet", 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", 
      crossorigin="anonymous"
    )
    script(
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    )
    script(
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js",
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", 
      crossorigin="anonymous"
    )
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", 
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", 
      crossorigin="anonymous"
    )
  body
    .container
      .jumbotron.mt-3
        h1 Search Repositories
        .input-group.mb-3
          input(
            id="keyword",
            class="form-control"
            type="text", 
            placeholder="respository", 
            aria-label="respository",
            aria-describedby="button-addon2"
          )
          .input-group-append
            button(
              class="btn btn-outline-secondary"
              type="button",
              id="search"
            ) Search
      .table-responsive-sm
        table.table.table-striped
          thead
            tr
              th(scope="col") #
              th(scope="col") Name
              th(scope="col") Description
              th(scope="col") URL
          tbody
        nav(
          aria-label="Page navigation"
        )
          ul.pagination

    script(type='text/javascript').
      //- localStorage.setItem('per_page', 10);
      localStorage.setItem('page', 1);
      const per_page = 10; 
      let page = localStorage.getItem('page');

      function onPage(page) {
        localStorage.setItem('page', page);
        const q = localStorage.getItem('q');
        search({ q, per_page, page });
      }

      function pagination(length, index) {
        const page = parseInt(localStorage.getItem('page'));
        const lis = [...Array(length).keys()]
                    .map(i => 
                      `<li class="page-item ${i + index === page ? 'active': ''}">
                        <button class="page-link" type="button" onclick="onPage(${i + index})">${i + index}</button>
                      </li>`
                    );
        const previous = `<li class="page-item ${page === 1 ? 'disabled': ''}">
                            <button class="page-link" type="button" onclick="onPage(${page - 1})">Previous</button>
                          </li>`;
        const next = `<li class="page-item ${page === 100 ? 'disabled': ''}">
                        <button class="page-link" type="button" onclick="onPage(${page + 1})">Next</button>
                      </li>`;
        $('.pagination').empty().append(previous, lis, next);
      }

      function search(params) {
        $.post("search", params, function( data ) {
          // create data in table
          createData(data.items);
          // create page count 
          const page = parseInt(localStorage.getItem('page'));
          const page_count = pageCount(data.total_count);
          //- let length = -1;
          let offset = -1;
          if(page % per_page === 0) {
            offset = page - per_page + 1;
          } else {
            offset = (~~(page / per_page) * 10) + 1;
          }
          const length = (page_count - offset) <= (per_page - 1) ? page_count - offset : per_page;
          pagination(length, offset);
        });
      }

      function pageCount(total_count) {
        let page_count = ~~(total_count / per_page);
        if(total_count % per_page !== 0){
          page_count++;
        }
        return page_count;
      }

      function createData(items){
        const tr = items.map(x => {
              const id = `<th scope="row"> ${ x.id } </th>`;
              const name = `<td> ${ x.name } </td>`;
              const description = `<td> ${ x.description } </td>`;
              const url = `<td><a href="${ x.html_url }">${ x.name }</a></td>`;
              return `<tr> ${id + name + description + url} </tr>`;
            });
        $('tbody').empty().append(tr);
      }

      $('#search').click(function() {
        const q = $('#keyword').val();
        if(q === '') {
          alert('plese type keywords');
        } else {
          localStorage.setItem('q', q);
          search({ q, per_page, page });
        }
      });